<app-navbar></app-navbar>
<div class="fondo">
    <div class="row">
        <div class=" circulo">
            <button routerLink="/lista-pedidos" class="badge rounded-pill bg-primary bg-circulo">Pedidos<br>20</button>
        </div>
        <div class=" circulo">
            <button routerLink="/lista-ordenes" class="badge rounded-pill bg-primary bg-circulo">Ordenes<br>de<br>
                Compra<br>5</button>
        </div>
        <div class=" circulo">
            <button routerLink="/lista-clientes"
                class="badge rounded-pill bg-primary bg-circulo">Clientes<br>26</button>
        </div>
        <div class=" circulo">
            <button routerLink="/lista-productos"
                class="badge rounded-pill bg-primary bg-circulo bg-circulo-sm">Productos<br>200</button>
        </div>
    </div>
</div>
<app-footer></app-footer>