.fondo {
    background-image: linear-gradient(to bottom, #4A00E000, #8E2DE200), url('../../../assets/img/triangles-1430105.svg');
    height: 100vh;
    background-size: cover;
}

.circulo {
    margin: 6px;
    padding-left: 1rem;
}

.bg-circulo {
    display: table-cell;
    min-width: .5rem;
    /* rem unit */
    padding: 2rem 3rem;
    /* rem unit */
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    color: #fefefe;
    height: 160px;
    width: 160px;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.bg-circulo-sm {
    font-size: .9rem;
    padding: 0.9rem 0.9rem;
}