<app-confirm-dialog></app-confirm-dialog>
<app-navbar [grillaOn]="grillaOn" (grillaOnChange)="eventGrillaOn($event)"></app-navbar>
<app-spinner *ngIf="loading"></app-spinner>
<div class="col-5">
    <button routerLink="pedido/nuevo" class="btn btn-sm btn-primary">
        <i class="material-icons" style="vertical-align: -4px; font-size: 18px;">add_circle</i>
        Nuevo Pedido
    </button>
</div>
<div *ngIf="!grillaOn && !loading" class="fondo pt-2">
    <div class="card-group">
        <div class="card card-block p-3 m-2" *ngFor="let pedido of pedidos; let i=index">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">{{pedido.dDespacho}}</h6>
                    </div>
                </div>
                <div>
                    <span>
                        <i (click)="editarPedido(pedido.pPedido)" class="material-icons text-primary">edit</i>
                        &nbsp;
                        <i (click)="eliminarPedido(pedido.pPedido)" class="material-icons text-primary">delete</i>
                    </span>
                </div>
            </div>
            <div class="mt-1">
                <h3 class="heading">{{pedido.cNota}}</h3>
                <div class="stats mt-3">
                    <div class="d-flex justify-content-between px-3">
                        <span>Forma de Pago</span><span>{{pedido.cFormaPago}}</span>
                    </div>
                    <div class="d-flex justify-content-between fondo px-3">
                        <span>Estado</span><span>{{pedido.cEstado}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-2" *ngIf="grillaOn && !loading">
    <form>
        <div class="form-group row">
            <label *ngIf="paginacion" class="col-2 col-form-label offset-2" for="regsPagina">Mostrar</label>
            <div *ngIf="paginacion" class="col-3">
                <select id="regsPagina" class="form-control">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                </select>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nota</th>
                    <th *ngIf="appStateService.minMD">Forma de Pago</th>
                    <th *ngIf="appStateService.minMD">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos; let i=index" (dblclick)="editarPedido(pedido.pPedido)">
                    <td>{{pedido.dDespacho}}</td>
                    <td>{{pedido.cNota}}</td>
                    <td *ngIf="appStateService.minMD">{{pedido.cFormaPago}}</td>
                    <td *ngIf="appStateService.minMD">{{pedido.cEstado}}</td>
                    <td>
                        <i (click)="editarPedido(pedido.pPedido)" class="material-icons text-info">edit</i>&nbsp;
                        <i (click)="eliminarPedido(pedido.pPedido)" class="material-icons text-danger">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="paginacion" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary">6</button>
                <button type="button" class="btn btn-secondary">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>