/* You can add global styles to this file, and also import other style files */

html {
    height: 100vh;
}

body {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

/* Se ve mejor un poco mas claro */
.input-group-text {
    background-color: #f8f8fd;
}